.artists {
    width: 100%;
    height: max-content;
    color: #fff;
    background-color: #050505;
}

.artists .heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 3em;
    text-align: center;
    background-color: #050505;
}

.artists .heading .ruby h4 {
    font-weight: 400;
}

.artists .heading .heading-title h2 {
    font-weight: 100;
}

.artists .heading .heading-title h2 {
    font-weight: 200;
}

.artists .artists-list {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    padding-bottom: 0;
}

.artists .artists-list .artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-bottom: 10%;
}

.artists .artists-list .artist-image {
   width: 70%;
   height: 100%;
   margin: 0 15%;
}

.artists .artists-list .artist .name {
    text-align: center;
