@media (min-width: 681px) {
    h1 {
        font-size: clamp(4rem, calc(1.2rem + 6vw), 15rem);
        margin: 0;
    }

    h2 {
        font-size: clamp(3rem, calc(1.0rem + 6vw), 12rem);
        margin: 0;
    }

    h3 {
        font-size: clamp(2rem, calc(0.5rem + 4vw), 9rem);
        margin: 0;
    }

    h4 {
        font-size: clamp(1.0rem, calc(0.2rem + 3vw), 7.5rem);
        margin: 0;
    }

    h5 {
        font-size: clamp(0.8rem, calc(0.2rem + 4vw), 6rem);
        margin: 0;
        font-weight: 300;
    }

    h6 {
        font-size: clamp(0.5rem, 2vw, 4rem);
        letter-spacing: 0.1em;
        margin: 0;
        font-weight: 400;
    }

    p {
        font-size: clamp(0.3rem, calc(0.5rem + 1.7vw), 8rem);
    }
}

@media (max-width: 680px) {
    h1 {
        font-size: clamp(1rem, calc(0.9rem + 4vw), 5rem);
        margin: 0;
    }

    h2 {
        font-size: clamp(1rem, calc(1.0rem + 3vw), 5rem);
        margin: 0;
    }

    h3 {
        font-size: clamp(1rem, calc(0.5rem + 3vw), 9rem);
        margin: 0;
    }

    h4 {
        font-size: clamp(1.0rem, calc(0.2rem + 3vw), 7.5rem);
        margin: 0;
    }

    h5 {
        font-size: clamp(0.8rem, calc(0.2rem + 4vw), 6rem);
        margin: 0;
        font-weight: 300;
    }

    h6 {
        font-size: clamp(0.2rem, 2vw, 4rem);
        letter-spacing: 0.1em;
        margin: 0;
        font-weight: 400;
    }

    p {
        font-size: clamp(0.3rem, calc(0.5rem + 0.5vw), 4rem);
    }
}