






main * {
    text-align: center;
    color: white;
    font-family : 'MPLUS2', "Hiragino Sans";
}

h5, h6 {
    text-align  : left !important;
}

main {
    background-color: #F288B9;
}

.heading {
    margin-bottom: 1em;
}

.heading > * {
    font-weight : bold !important;
}

.top-heading {
    padding-top: 15vh;
}

.credit-outer {
    width: 90%;
    padding: 5%;
}

.credit-outer > * {
    margin-bottom: 15%;
}

.staff > div {
    margin-bottom: 10%;
}

.flex-group {
    display: grid;
    justify-content: center;
    
}

.credit-outer .heading {
    width: 100%;
    font-weight: bold;
}

.credit-outer h3 {
    font-weight: 500;
}

.credit-outer h4 {
    font-weight: normal;
}



/* 各セクションのcss */
.section {
    margin-bottom: 3%;
}

.end {
    display: flex;
    gap: 10%;
    margin: 1em 0;
}

.end > *:nth-child(1) {
    width: 45%;
    text-align: right; 
}

.end > *:nth-child(2) {
    width: 45%; 
    text-align: left;
}

.group h4 {
    text-align: left;
}

.group {
    display: flex;
    flex-direction: column;
}



@media (min-width: 821px) {

    ruby {
        font-size: clamp(0.3rem, calc(0.5rem + 0.75vw), 9rem);
    }

    h3 {
        font-size: clamp(0.7rem, calc(0.5rem + 2vw), 12rem);
    
    }

    h4 {
        font-size: clamp(0.5rem, calc(0.5rem + 1.5vw), 9rem);
        margin: 0;
    }
}

@media (max-width: 820px) {

    ruby {
        font-size: clamp(0.4rem, 0.5vw, 9rem);
    }

    h3 {
        font-size: clamp(0.9rem, 2.5vw, 12rem);
    
    }

    h4 {
        font-size: clamp(0.4rem, 2vw, 9rem);
        margin: 0;
    }
}


/**/
/**/
/**/
/**/
/**/
/**/