footer {
    width: 80%;
    height: max-content;
    color: #fff;
    background-color: #212121;
    padding: 5% 10%;
    padding-bottom: 0;
}

footer .footer-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%
}

footer .footer-top .credit {
    width: 70%;
    font-family: 'Oswald';
}

footer h5 {
    font-size: clamp(0.15rem, calc(0.1rem + 1.5vw), 6rem);
    font-weight: 400;
    margin: 1em 0;
}

footer h6 a {
    color: #fff;
}

footer h6 {
    font-size: clamp(0.15rem, calc(0.1rem + 1vw), 4rem) !important;
}

footer .footer-top .right-logo {
    display: flex;
    flex-direction: row;
    width: 30%;
    gap: 15%;
}

footer .footer-top .right-logo img {
    width: 40%;
    height: 100%;
    object-fit: contain;
}

footer .border {
    width: 50%;
    margin: 1em 25%;
    border: solid 1px #fff;
}

footer .footer-logo {
    width: 100%;
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

footer .footer-logo a {
    display: block;
    width: max-content;
}

footer .footer-logo img {
    width: 5vw;
    height: 100%;
    margin: 0 5%;
}

p.copy-right {
    text-align: center;
    color: #808080;
    margin: 0;
    margin-top: 10vw;
    padding-bottom: 10em;
    font-family: 'Oswald';
    font-size: clamp(0.15rem, calc(0.1rem + 1vw), 4rem);
}

@media (max-width: 680px) {
    footer {
        width: 90%;
        padding: 5%;
    }

    footer h5 {
        font-size: clamp(0.15rem, calc(0.1rem + 2vw), 6rem);
    }
    
    footer h6 {
        font-size: clamp(0.15rem, calc(0.1rem + 1.5vw), 4rem) !important;
    }
