footer {
    width: 80%;
    height: calc(100vw * 2 /3);
    color: #fff;
    background-color: #212121;
    padding: 5% 10%;
    padding-bottom: 0;
}

footer .footer-top {
    display: flex;
    flex-direction: row;
}

footer .footer-top .credit {
    width: 70%;
    font-family: 'Oswald';
}

footer h5 {
    font-size: 2em;
    font-weight: 200;
    margin: 1em 0;
}

footer .footer-top p {
    font-size: 1em;
}

footer .footer-top .right-logo {
    width: 30%;
}

footer .footer-top .right-logo img {
    width: 50%;
    margin: 25%;
}

footer .border {
    width: 50%;
    margin: 1em 25%;
    border: solid 1px #fff;
}

footer .footer-logo {
    width: 15%;
    margin: 0 37.5%;
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
}

footer .footer-logo img {
    width: 50%;
    margin: 0 25%;
}

p.copy-right {
    text-align: center;
    color: #808080;
    margin-top: 10vw;
    font-family: 'Oswald';
}

@media (max-width: 820px) {
    footer .footer-top .credit {
        font-size: clamp(0.2rem, calc(0.1rem + 1.5vw), 1rem);
    }

    p.copy-right {
        font-size: clamp(0.25rem, calc(0.1rem + 3vw), 1rem);
    }
}