













.top-title {
    display : flex;
    flex-direction  : row;
    width   : 100%;
    height: min(calc(100vw * 9 / 16), 100vh);
    background-color: #F288B9;
    overflow: hidden;
}

.top-title * {
    color: #fff;
    margin: 0;
    
}

.top-title h1 {
    letter-spacing: 0.25em;
    font-weight: 600;
    line-height: 180%;
}

.top-title h2 {
    font-weight: 200;
    width : 100%;
    line-height: 1.15em;
}

.top-title .title-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: -5vw 33%;
}

.top-title .title-left .text {
    position: absolute;
    width: 45%;
    height: max-content;
    margin-left: 5%;
    margin-bottom: 5%;
}

.top-title .title-center {
    width: 25%;
}

.top-title .title-center .door-bg {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 8%, 100% -8%, 100% 108%, 0 84%);
    background-color: #8DD3F2;
    border-top-left-radius: 5%;
}

.top-title .title-center .door-circle-parent {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: min(calc(100vw * 9 / 16), 100vh);
}

.top-title .title-center .door-circle {
    position: relative;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin-left: 1vw;
    background-color: #F288B9;
    z-index: 1;
}

.top-title .title-right {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
    background-color: #A9BF45;
}

.top-title .title-right .text {
    position: absolute;
    width: max-content;
    height: max-content;
    margin-bottom: 5.5%;
    font-family: 'Oswald';
    right: 8%; 
}

.thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: max-content;
    background-size : 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.thumb .thumb-img {
    width: 50%;
    /* height: 40%; */
    margin: 10% 25%;
}

.thumb .thumb-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumb-bg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.thumb .thumb-text {
    height: max-content;
    text-align: center;
    margin-bottom: 15%;
    width: max-content;
    padding: 0 10%;
    color: #F288B9;
    font-weight: bold;
    background-image: url(./pic/line_l.svg), url(./pic/line_r.svg);
    background-size: auto 100%;
    background-position: left, right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.thumb-text .text {
    width: max-content;
}

.thumb .thumb-text h3 {
    font-weight: 400;
    margin: 0;
}

.tmf_logo {
    color: #0000;
    background-image: url(./pic/webp/tmf_word.webp);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.how-to-join {
    position: relative;
    width: 100%;
    height: calc(100vw / 3);
    overflow: hidden;
}

.how-to-join .bg {
    width: 100%;
    height: 100%;
    perspective: 60vw; /*--perspective--*/
}

.how-to-join .bg .plaid-bg {
    position: relative;
    left: -150%;
    width: 400%;
    height: 500%;
    background: linear-gradient(0deg, #350951, #e4a1c0);
    transform: perspective(100000px) rotateX(-60deg);
    transform-origin: top left;
}

.plaid-bg .stripe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background: repeating-linear-gradient(90deg, #0000, #0000 2.5px, #222222 2.5px, #222222 calc(200vw / 30));
}

.plaid-bg .border {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(#F288B9, #350951 2.5px, #0000 2.5px, #0000 calc(200vw / 30));
}

.how-to-join .jump-page-button button {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 0;
    text-align: center;
    color: #fff;
    font-size: clamp(0.8rem, calc(0.2rem + 3.025vw), 2.5rem);
    font-weight: bold;
    background-color: #F288B9;
    border-radius: 9999px;
    border: none;
    box-shadow: 0 10px 0 #BB648C;
    margin: 10% 20%;
    padding: 0;

}

.how-to-join .jump-page-button button a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.countdown {
    width: 100%;
    aspect-ratio: 4 / 1;
    color: #fff;
    background-color: #050505;
    text-align: center;
}

.countdown .time {
    font-family: 'Oswald';
    font-weight: 200;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.countdown h1 {
    width: max-content;
    margin: 0 0.15em;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1em;
}

.countdown .time .day {
    color: #F288B9;
}

.countdown .time .hour {
    color: #8DD3F2;
}

.countdown .time .min {
    color: #A9BF45;
}

.title-top-right .countdown .text{
    text-align: right;
}

.title-top-right .countdown {
    position: absolute;
    width: max-content;
    height: max-content;
    right: 8%;
    top: 11vh;
    background-color: #0000;
}


.title-top-right .countdown .time {
    justify-content: right;
}

.title-top-right .countdown .min {
    margin-right: 0;
}

.title-top-right h1 {
    color: #fff !important;
}


.sub-title {
    width: 100%;
    height: calc(100vw * 3.5 / 3);
    background-color: #fff;
    background-image: url(./pic/webp/green_bg.webp);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
}

.sub-title .logo {
    width: 50%;
    padding: 10% 25%;
}

.sub-title .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sub-title .heading h1 {
    letter-spacing: 0.25em;
    font-weight: 600;
}

.sub-title .info {
    font-family: 'Oswald';
}

.sub-title .info h3 {
    font-weight : 200;
}

.black-bg {
    width: 100%;
    height: max-content;
    background-color: #050505;
}

.timetable {
    background-color    : #FFFDE3;
    padding-bottom: 3em;
}

.timetable .heading {
    padding      : 1em;
    text-align  : center;
}

.timetable .heading .heading-title h2 {
    font-weight : 200;
    
}

.timetable .table-img {
    width   : 100%;
    /*height  : max-content;*/
}

.timetable .table-img img {
    width   : 70%;
    margin  : 0 15%;
    background-color    : #fff;
}

.twitter-timeline {
    width   : 70%;
    margin  : 0 15%;
}

.embed-timeline {
    margin  : 10% 0;
    width   : 100%;
    display : flex;
    justify-content : center;
}

@media (min-width: 621px) {
    .top-title .title-left {
        background-image: url(./pic/webp/melody.webp);;
    }
    
    /*.thumb {*/
    /*    background-image: url(./pic/webp/pink_bg_2.webp?ver1.0);*/
    /*}*/

    .sub-title .heading {
        margin-bottom: clamp(10rem, 20vw, 35rem);
    }
}

@media (max-width: 620px) {
    .top-title h1 {
        line-height: 1.5em;
    }

    .top-title .title-left {
        background-image: url(./pic/webp/melody_mobile.webp);;
    }
    
    /*.thumb {*/
    /*    background-image: url(./pic/webp/pink_bg_m.webp?ver1.0);*/
    /*}*/

    .sub-title .heading {
        margin-bottom: clamp(4rem, 20vw, 8rem);
    }

    .title-top-right .countdown {
        top:10vw;
    }
}