.top-title {
    display : flex;
    flex-direction  : row;
    width   : 100%;
    height  : 66vw;
    background-color: #F288B9;
    overflow: hidden;
}

.top-title * {
    color: #fff;
    margin: 0;
    
}

.top-title h1 {
    font-size: calc(40vw / 4);
    font-weight: normal;
}

.top-title h2 {
    font-weight: normal;
    width : 80%;
    font-size: calc(25vw / 4);
}

.top-title .title-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(./pic/bg/melody.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: -5vw 33%;
}

.top-title .title-center {
    perspective: 50vw; /*--perspective--*/
    width: 25%;
    height: 100%;
    display: inline-block; 
}

.top-title .title-center .door-bg {
    width: 130%;
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top : -3%;
    right: 30%;
    text-align: center;
    line-height: 150px;
    transform: perspective(500px) rotateY(-20deg);
    transform-origin: top right;
    background-color    : #8DD3F2;
    border-top-left-radius: 5%;
}

.top-title .title-center .door-bg .door-circle {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-left: 1em;
    background-color: #F288B9;
}

.top-title .title-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    background-color: #A9BF45;
}

.thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vw * 2 / 3);
    background-image: url(./pic/bg/pink.png);
    background-size : 100% auto;
    background-repeat: no-repeat;
}

.thumb .thumb-img {
    height: 40%;
}

.thumb .thumb-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumb .thumb-text {
    height: 40%;
    text-align: center;
}

.thumb .thumb-text h3 {
    font-weight: normal;
    margin: 0;
}


.how-to-join {
    position: relative;
    width: 100%;
    height: calc(100vw / 3);
    overflow: hidden;
}

.how-to-join .bg {
    width: 100%;
    height: 100%;
    perspective: 60vw; /*--perspective--*/
}

.how-to-join .bg .plaid-bg {
    position: relative;
    left: -150%;
    width: 400%;
    height: 500%;
    background: linear-gradient(0deg, #350951, #e4a1c0);
    transform: perspective(100000px) rotateX(-60deg);
    transform-origin: top left;
}

.plaid-bg .stripe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background: repeating-linear-gradient(90deg, #0000, #0000 2.5px, #222222 2.5px, #222222 calc(200vw / 30));
}

.plaid-bg .border {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(#F288B9, #350951 2.5px, #0000 2.5px, #0000 calc(200vw / 30));
}

.how-to-join .jump-page-button button {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 0;
    text-align: center;
    color: #fff;
    font-size: clamp(0.8rem, calc(0.2rem + 3.025vw), 2.5rem);
    font-weight: bold;
    background-color: #F288B9;
    border-radius: 9999px;
    border: none;
    box-shadow: 0 10px 0 #BB648C;
    margin: 10% 20%;
    padding: 0;

}

.countdown {
    width: 100%;
    height: calc(100vw / 3);
    color: #fff;
    background-color: #252525;
    text-align: center;
}

.countdown .text {
    font-size: 2em;
}

.countdown .time {
    font-family: 'Oswald';
    font-size: 2.5em;
    font-weight: 200;
}

.countdown .time .day {
    color: #F288B9;
}

.countdown .time .hour {
    color: #8DD3F2;
}

.countdown .time .min {
    color: #A9BF45;
}

.sub-title {
    width: 100%;
    height: calc(100vw * 3.5 / 3);
    background-color: #fff;
    background-image: url(./pic/bg/green.png);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
}

.sub-title .logo {
    width: 100%;
}

.sub-title .logo img {
    width: 60%;
    margin: 0 20%;
}

.sub-title .heading {
    font-size: 3em;
    letter-spacing: 0.25em;
    font-weight: 500;
    margin-bottom: 2.75em;
}

.sub-title .info {
    font-size: 1.25em;
    font-weight: 400;
    font-family: 'Oswald';
}

@media (min-width: 821px) {
    .thumb .thumb-text {
        font-size: clamp(1.5rem, calc(1.2rem + 3vw), 3rem);
    }
}

@media (max-width: 820px) {
    .thumb .thumb-text {
        font-size: clamp(0.7rem, calc(0.2rem + 3.025vw), 2.5rem);
    }
}